* {
  margin: 0;
  margin-left: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

h1 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: rebeccapurple;
  transition-duration: 0.4s;

}

h2 {
  font-size: 20px;
  color: #2E3047;
  font-family: "VG5000-Regular", sans-serif;
}

h3 {
  font-family: "ABCSyntMono-Regular-Trial", monospace;
  font-size: 16px;
}

p {
  font-family: "ABCSyntMono-Regular-Trial", monospace;
  margin-left: 2rem;
}

VG5000 by Justin Bihan. Distributed by velvetyne.fr. @font-face {
  font-family: "VG5000-Regular";
  src: url("VG5000-Regular.woff2") format("woff2"),
       url("VG5000-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


ABCSyntMono-Regular-Trial. By ABC Dinamo @font-face {
    font-family: "ABCSyntMono-Regular-Trial";
  src: url("ABCSyntMono-Regular-Trial.woff2") format("woff2"),
       url("ABCSyntMono-Regular-Trial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


/* navbar gotten from https://www.w3schools.com/howto/howto_css_bottom_nav.asp */
.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 150%;
}
.navbar a {
  font-family: "ABCSyntMono-Regular-Trial", monospace;
  float: left;
  display: block;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 14px 2rem;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: lavender;
  color: black;
  transition-duration: 0.4s;

}

.navbartwo {
  background-color: whitesmoke;
  overflow: hidden;
  top: 0;
  position: fixed;
  float: top;
  width: 150%;
}
.navbartwo a:hover {
  color: rebeccapurple;
  transition-duration: 0.4s;

}
.navbartwo a {
  font-family: "VG5000-Regular", sans-serif;
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 1.2rem;
}
hr {
  position: fixed;
  left: -2rem;
  right: 2.5rem;
  width: calc(100% + 2rem);
  border: 0.07rem solid black;
  clear: both;
}

/* Project page information textbox */
.textbox {
  background-color: lavender;
  width: 25%;
  height: 100%;
  max-width: 20rem;
  border: 0.14rem solid black;
  padding: 2rem;
  padding-bottom: 100%;
  padding-left: 1rem;
  position: fixed;
  right: 0;
  margin-top: 3rem;
}
.textboxbody {
  padding-top: 2rem;
}

@media (max-width: 768px){
  .textbox {
    width: 80vw;
    max-width: 80vw;
    height: .25%;
    margin-bottom: 2rem;
    padding-bottom: 10rem;
    padding-right: 10rem;
    left: 0;
    padding-top: .5rem;
    bottom: 0;
    .textboxbody {
    padding-top: .5rem;
}
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;   
  }
}

/* Contact Page Controls */
.contactheader {
  line-height: 100%;
  font-size: 4rem;
  min-width: 15rem;
  max-width: 30rem;
}
.contactbody {
  padding-top: 1.5rem;
  min-width: 15rem;
  max-width: 20rem;
}
button {
  background-color: #2E3047;
  width: 10rem;
  border: none;
  margin: 0.5rem;
  color: white;
  border-radius: 1.3rem;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  font-family: "VG5000-Regular", sans-serif;
  font-size: 1.8rem;
}
button:hover {
  width: 10rem;
  background-color: white;
  border: 0.14rem solid black;
  color: black;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  transition-duration: 0.4s;
}
.buttoncontainer {
  justify-content: center;
  text-decoration: none;
}
.parent {
  margin-top: 10rem;
}
.childone {
  display: inline-block;
  vertical-align: text-bottom;
}
.childtwo {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  padding-top: 8.5rem;
}

/* Index Image Controls */
.homeimg {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}
.homeimg:hover {
  filter: none;
  -webkit-filter: grayscale;
    transition-duration: 0.8s;

}


/* Index & Project Scroll Controls */
.scroll-master {
  margin-top: 7%;
  float: left;
}
.scroll-container {
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
  float: left;
  margin-left: 1rem;
}
.scroll-container img {
  padding: 0.5rem;
  width: 35%;
  height: auto;
}

@media (max-width: 768px){
  .scroll-master{
    margin-top: 6rem;
    width: 100vw;
  }
  .scroll-container {
      overflow-x: hidden;
      overflow-y: auto;
      height: 80vh;
      justify-content: center;
      margin-left: 1rem;
    }
    .scroll-container img {
      display: flex;
      width: 90vw;
    }
  }

/* About me page controls */
.split {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
}
.cover {
  width: 30%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  width: 70%;
  padding-bottom: 2vw;
}
.bigname {
  font-size: 8vw;
  font-family: "VG5000-Regular", sans-serif;
}
body {
  min-height: 100vh;
}
.img-container {
  display: flex;
  gap: 2vw;
  padding-left: 2vw;
  padding-top: 18vh;
  align-items: end;
  margin-bottom: 16px;
}
.about-img {
  width: 50%;
  aspect-ratio: 1/1;
}
.about-paragraph {
  padding-right: 30%;
}

@media (max-width: 768px){
  .cover, .content {
    width: 100%;
    height: 20vh;
  }
  .content {
  margin-bottom: 50vh;
  z-index: 1;
  padding-right: .8rem;
  padding: none;
}
.img-container {
  padding-top: 0;
  }
  .about-paragraph {
  padding-right: 0%;
}
}